{test_module, disk_log_logger}.
{test_procs_count, 100}.
{loops_count, 3000}.
{sleep_time, 0}.
{message_size, 1024}.
{report_path, "./logtest.report"}.

{dev_null_logger,
 [
  {start_opts, []},
  {log_opts, []},
  {log_path, "./dev_null_path.log"}
 ]}.

{lager_next,
 [
  {start_opts, [{size, 1000485760}]},
  {log_opts, []},
  {log_path, "./lager_next.log"}
 ]}.

{disk_log_logger,
 [
  {start_opts, [{size, 1000485760}, {format, internal}]},
  {log_opts, [{format, internal}, {sync, true}]},
  {log_path, "./disk_log.log"}
 ]}.

